

{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card" style="    margin-top: 120px;">
                    <div class="card-body">
                        <h1 class="card-title text-center">Connexion</h1>
                       <form method="post" action="{{ path('app_reset_password_reset', {'token': token}) }}">
    <label for="password">Nouveau mot de passe</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Réinitialiser le mot de passe</button>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}