{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card" style="margin-top: 120px;">
                    <div class="card-body">
                        <h1 class="card-title text-center">Modifier le profil</h1>
                        <form method="post" enctype="multipart/form-data">
                            {% if app.user %}
                                <div class="mb-3">
                                    <label for="inputPassword" class="form-label">Mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>

                                <div class="mb-3">
                                    <label for="inputImage" class="form-label">Image de profil</label>
                                    <input type="file" name="image" id="inputImage" class="form-control">
                                </div>
                            {% endif %}
                              <label for="username">Nom d'utilisateur</label>
         <div class="mb-3">
            <label for="inputPseudo" class="form-label">Pseudo</label>
            <input type="text" name="pseudo" id="inputPseudo" class="form-control" value="{{ user.Pseudo }}">
        </div><br><br>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br><br>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('update_profile') }}">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
